#### Katy Davies - Data cleaning for NHS datasets - Table S.3.1 regarding the affordability of tobacco in the UK, and Table S.3.2 regarding household expenditure on tobacco

**Table S.3.1**	Indices of tobacco price, retail prices, tobacco price index relative to retail prices index (all items), real disposable income per adult and affordability of tobacco in the United Kingdom

In [6]:
#load the data into a dataframe and view a sample

import pandas as pd
url1 = "https://raw.githubusercontent.com/rhobaker/Data_Project/main/NHS_smoking_eng_2020/Table%20S.3.1-Table%201.csv"
affordability = pd.read_csv(url1)
#affordability

,Year,Tobacco \r\nprice\r\nindex (TPI),Retail prices\r\nindex (RPI)\r\n- all items,Tobacco price \r\nindex relative to \r\nRetail price index \r\n(all items),Real \r\nhouseholds' disposable \r\nincome \r\nindex (RHDI)2,Affordability \r\nof tobacco \r\nindex3
0,1987,100.1,101.9,98.2,100.0,101.8
1,1988,103.4,106.9,96.7,105.1,108.7
2,1989,106.4,115.2,92.4,110.1,119.2
3,1990,113.6,126.1,90.1,114.1,126.7
4,1991,129.9,133.5,97.3,116.0,119.2
5,1992,144.2,138.5,104.1,119.0,114.3
6,1993,156.4,140.7,111.2,122.2,109.9
7,1994,168.2,144.1,116.7,124.5,106.7
8,1995,179.5,149.1,120.4,128.0,106.3
9,1996,191.5,152.7,125.4,131.2,104.6
10,1997,205.6,157.5,130.5,134.6,103.1
11,1998,223.3,162.9,137.1,135.4,98.8
12,1999,248.9,165.4,150.5,141.1,93.8
13,2000,270.4,170.3,158.8,148.8,93.7
14,2001,285.1,173.3,164.5,153.2,93.1
15,2002,293.7,176.2,166.7,157.2,94.3
16,2003,304.1,181.3,167.7,159.0,94.8
17,2004,315.0,186.7,168.7,162.4,96.3
18,2005,328.7,192.0,171.2,164.7,96.2
19,2006,343.4,198.1,173.3,166.4,96.0
20,2007,361.6,206.6,175.0,170.0,97.1
21,2008,377.6,214.8,175.8,168.4,95.8
22,2009,392.6,213.7,183.7,169.9,92.5
23,2010,422.6,223.6,189.0,168.8,89.3
24,2011,469.1,235.2,199.4,164.3,82.4
25,2012,509.0,242.7,209.7,167.1,79.7
26,2013,548.2,250.1,219.2,169.2,77.2
27,2014,589.9,256.0,230.4,171.1,74.3
28,2015,622.8,258.5,240.9,179.9,74.7
29,2016,653.5,263.1,248.4,179.4,72.2
30,2017,692.0,272.5,253.9,178.5,70.3
31,2018,743.1,281.6,263.9,181.5,68.8
32,2019,786.1,288.8,272.2,183.2,67.3

**Table S.3.2**	Household expenditure on tobacco (current price value), United Kingdom

In [8]:
url2 = "https://raw.githubusercontent.com/rhobaker/Data_Project/main/NHS_smoking_eng_2020/Table%20S.3.2-Table%201.csv"
expenditure = pd.read_csv(url2)
#expenditure

,Year,Household \r\nexpenditure\r\non tobacco,Total \r\nhousehold \r\nexpenditure,Expenditure on \r\ntobacco as a \r\npercentage of \r\ntotal,Unnamed: 4
0,1985,"7,000","249,538",2.8,NaN
1,1986,"7,463","275,334",2.7,NaN
2,1987,"7,631","302,328",2.5,NaN
3,1988,"7,890","340,363",2.3,NaN
4,1989,"8,112","372,485",2.2,NaN
5,1990,"8,576","404,595",2.1,NaN
6,1991,"9,556","432,980",2.2,NaN
7,1992,"10,169","454,983",2.2,NaN
8,1993,"10,631","482,302",2.2,NaN
9,1994,"10,787","505,805",2.1,NaN
10,1995,"11,349","531,720",2.1,NaN
11,1996,"12,068","569,892",2.1,NaN
12,1997,"12,485","609,395",2.0,NaN
13,1998,"13,267","643,490",2.1,NaN
14,1999,"14,084","675,094",2.1,NaN
15,2000,"14,149","709,941",2.0,NaN
16,2001,"14,208","736,203",1.9,NaN
17,2002,"14,233","761,930",1.9,NaN
18,2003,"15,137","796,620",1.9,NaN
19,2004,"15,244","834,577",1.8,NaN
20,2005,"15,446","873,475",1.8,NaN
21,2006,"15,250","910,681",1.7,NaN
22,2007,"15,302","954,366",1.6,NaN
23,2008,"15,794","983,503",1.6,NaN
24,2009,"16,294","956,293",1.7,NaN
25,2010,"17,263","984,357",1.8,NaN
26,2011,"18,264","1,021,129",1.8,NaN
27,2012,"18,758","1,058,472",1.8,NaN
28,2013,"18,925","1,109,534",1.7,NaN
29,2014,"19,856","1,153,351",1.7,NaN
30,2015,"19,222","1,187,215",1.6,NaN
31,2016,"19,112","1,248,091",1.5,NaN
32,2017,"19,360","1,287,278",1.5,NaN
33,2018,"19,914","1,335,216",1.5,NaN
34,2019,"19,262","1,364,462",1.4,NaN

In [6]:
#View information about the dataset

# affordability.shape
# affordability.info(verbose=True)
# #This dataset appear to be clean and in a workable condition

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 6 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   Year                                                                  33 non-null     int64
 1   Tobacco
price
index (TPI)                                          33 non-null     float64
 2   Retail prices
index (RPI)
- all items                               33 non-null     float64
 3   Tobacco price
index relative to
Retail price index
(all items)  33 non-null     float64
 4   Real
households' disposable
income
index (RHDI)2                33 non-null     float64
 5   Affordability
of tobacco
index3                                   33 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 1.7 KB

In [7]:
# expenditure.shape
# expenditure.info(verbose=True)
# #This dataset appears to have an unnamed column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Year                                                   35 non-null     int64
 1   Household
expenditure
on tobacco                    35 non-null     object
 2   Total
household
expenditure                        35 non-null     object
 3   Expenditure on
tobacco as a
percentage of
total  35 non-null     float64
 4   Unnamed: 4                                             0 non-null      float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.5+ KB

In [8]:
#Check the column names 
sorted(expenditure)

#We can see column 4 is an unnamed blank column - we'll drop this column
expenditure.drop(expenditure.columns[expenditure.columns.str.contains('Unnamed')], axis=1, inplace=True)

#Check that column has been dropped
sorted(expenditure)

['Expenditure on \r\ntobacco as a \r\npercentage of \r\ntotal',
 'Household \r\nexpenditure\r\non tobacco',
 'Total \r\nhousehold \r\nexpenditure',
 'Year']

In [10]:
#I want to directly compare the two datasets, but the expenditure dataset goes back to 1985
# while the affordability dataset only goes to 1987

#For comparison purposes I'll delete the first two rows from the expenditure dataset
expenditure.drop([0, 1], inplace=True)

#Check that rows have been dropped
expenditure.head

KeyError: '[0, 1] not found in axis'

In [11]:
expenditure.columns

#I want to shorten the column names for simplicity
expenditure.columns = ["Year", "Tobacco Expenditure", "Total Expenditure", "Tobacco Expenditure (%)"]

expenditure.head(5)

   Year Tobacco Expenditure Total Expenditure  Tobacco Expenditure (%)
2  1987               7,631           302,328                      2.5
3  1988               7,890           340,363                      2.3
4  1989               8,112           372,485                      2.2
5  1990               8,576           404,595                      2.1
6  1991               9,556           432,980                      2.2

In [21]:
affordability.columns

#I'll again short the columns for the affordability dataset
affordability.columns = ["Year", "Tobacco Price Index", "Retail Price Index", "TPI relative RPI", "Real Household Disposable Income", "Tobacco Affordability Index"]
affordability.head(6)

,Year,Tobacco Price Index,Retail Price Index,TPI relative RPI,Real Household Disposable Income,Tobacco Affordability Index
0,1987,100.1,101.9,98.2,100.0,101.8
1,1988,103.4,106.9,96.7,105.1,108.7
2,1989,106.4,115.2,92.4,110.1,119.2
3,1990,113.6,126.1,90.1,114.1,126.7
4,1991,129.9,133.5,97.3,116.0,119.2
5,1992,144.2,138.5,104.1,119.0,114.3

In [11]:
#Normalising data
expenditure.dtypes

#The tobacco and total expenditure columns in the expenditure dataset are string values, which aren't suitable for analysis
#First I'll remove non numeric values from the columns
expenditure['Tobacco Expenditure'] = expenditure['Tobacco Expenditure'].str.replace(",", "")
expenditure['Total Expenditure'] = expenditure['Total Expenditure'].str.replace(",", "")

    Year Tobacco Expenditure Total Expenditure  Tobacco Expenditure (%)
2   1987                7631            302328                      2.5
3   1988                7890            340363                      2.3
4   1989                8112            372485                      2.2
5   1990                8576            404595                      2.1
6   1991                9556            432980                      2.2
7   1992               10169            454983                      2.2
8   1993               10631            482302                      2.2
9   1994               10787            505805                      2.1
10  1995               11349            531720                      2.1
11  1996               12068            569892                      2.1
12  1997               12485            609395                      2.0
13  1998               13267            643490                      2.1
14  1999               14084            675094                      2.1
15  2000               14149            709941                      2.0
16  2001               14208            736203                      1.9
17  2002               14233            761930                      1.9
18  2003               15137            796620                      1.9
19  2004               15244            834577                      1.8
20  2005               15446            873475                      1.8
21  2006               15250            910681                      1.7
22  2007               15302            954366                      1.6
23  2008               15794            983503                      1.6
24  2009               16294            956293                      1.7
25  2010               17263            984357                      1.8
26  2011               18264           1021129                      1.8
27  2012               18758           1058472                      1.8
28  2013               18925           1109534                      1.7
29  2014               19856           1153351                      1.7
30  2015               19222           1187215                      1.6
31  2016               19112           1248091                      1.5
32  2017               19360           1287278                      1.5
33  2018               19914           1335216                      1.5
34  2019               19262           1364462                      1.4

In [13]:

#Then I'll convert the data from string to integer
expenditure["Tobacco Expenditure"] = expenditure["Tobacco Expenditure"].astype('int64')
expenditure["Total Expenditure"] = expenditure["Total Expenditure"].astype('int64')
expenditure.dtypes

ValueError: invalid literal for int() with base 10: '7,631'

In [14]:
affordability.dtypes
#The affordability data does not need further normalisation

Year                             int64
TPI                            float64
RPI                            float64
TPI relative RPI               float64
RHDI                           float64
Tobacco Affordability Index    float64
dtype: object

In [ ]:
#Write the cleaned data to a new csv
affordability.to_csv("https://raw.githubusercontent.com/rhobaker/Data_Project/main/NHS_smoking_eng_2020/Table%20S.3.1-Table%201_cleaned.csv", encoding='utf-8')
expenditure.to_csv("https://raw.githubusercontent.com/rhobaker/Data_Project/main/NHS_smoking_eng_2020/Table%20S.3.2-Table%201_cleaned.csv", encoding='utf-8')